$theme-colors: (
  BBVA: (
    primary1: #1973b8,
    primary1b: #0661a7,
    primary1c: rgba(25, 115, 184, 0.5),
    primary2: #004481,
    primary2b: #072146,
    primary3: #f4f4f4,
    secondary1: #f4f4f4,
    secondary2: #f3923a
  ),
  NavyFed: (
    primary1: #5498ad,
    primary1b: #418ba2,
    primary1c: rgba(84, 152, 173, 0.5),
    primary2: #042d69,
    primary3: rgba(230,240,243,1),
    primary3b: rgba(230,240,243,0.5),
    secondary1: #f8f7f2,
    secondary2: #f3923a
  )
);